footer {
    background-color: $gray-dark;
    color: $white;
    padding: 22px 25px;

    h3 {
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        margin-bottom: 16px;
    }

    ul {
        list-style: none;

        li {
            margin-top: 5px;

            i {
                font-size: 13px;
            }

            i {
                margin-right: 12px;
            }
        }
    }

}