.card{
    background-color:$white;
    height: 251px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px 0px #0000001A;
    position: relative;
    margin-bottom: 18px;

    img {
        width: 100%;
        height: 180px; 
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        display: block;  
    }
    .new {
        background-color:$tertiary;
        width: 80px;
        height: 29px;
        border-radius: 2px;
        color:$green-dark;
        font-size: 14px;
        font-weight: 500;
        border: none;
        box-shadow: 0px 2px 4px 0px $shadow;
        position: absolute;
        top: 25px; 
        left: 82%; 
        transform: translate(-50%, -50%); 

        @media screen and (min-width: 1024px) {
            left: 88%;
        }
    }
    .card__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 20px 15px 10px;

        h3{
            font-size: 18px;
        }

        p{
            font-weight: 300;
        }

        .heart {
            cursor: pointer;
            font-size: 22px;
            
            .menu-liked--outline {
                position: absolute;
                margin-top: 2px;
            }
            
            .menu-liked--outline:before {
                background-color: white;
            }
        
            &:active {
                .menu-liked--outline {
                    opacity: 0;
                }
                .menu-liked--solid {
                    background: linear-gradient(160deg, #9356dc 0%, #ff79da 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    opacity: 1;
                }
            }
        }  

    }
}