@import "./../_/_global";
@import "./../_/_variables";
@import "./../_/_placeholders";

@keyframes fadeIn_h2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn_card-restau {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

$animDuration: 300ms;
$intervalBetween2AnimationStarting: 200ms;

// .cards-restau {
//     &:checked + .card-restau {
//         .card-content .card-price, .card-anim  {
//             transform: translateX(0);
//         }
//     }
//     &:not(:checked) + .card-restau {
//         .card-content .card-price, .card-anim  {
//             transform: translateX(59px);
//         }
//     }
// }

body {
    background-color: $white;
}

header {
    height: 63px;
    @extend %flex-center;
    align-items: center;
    #logo {
        font-family: Shrikhand;
        font-size: 30px;
    }
    #return {
        position: absolute;
        color: #353535;
        font-size: 18px;
        left: 25px;
    }
}

main {

    .banner {
        img {
            width: 100%;
            object-fit: cover;
            height: 260px;

            @media screen and (min-width: 768px) {
                height: 360px;    
            }
        }
    }

    #background {
        border-radius: 40px 40px 0 0;
        background-color: #f6f6f6;
        position: relative;
        margin-top: -50px;
        padding: 30px 10px;

        @media screen and (min-width: 768px) {
            width: 90%;
            margin-left: 5%;
        }

        @media screen and (min-width: 1024px) {
            width: 80%;
            margin-left: 10%;
            
            .main-container {
                width: 60%;
                margin: auto;
            }
        }

        .title-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px;

            @media screen and (min-width: 1024px) {
                justify-content: center;
            }
            h1 {
                font-family: Shrikhand;
                font-size: 25px;
                font-weight: 400;

                @media screen and (min-width: 1024px) {
                    margin-right: 20px;
                }
            }

            .like-form {
                position: relative;
                font-size: 22px;
            }
              
            .like_button {
                display: none;
                &:not(:checked) ~ .fav-label {
                    cursor: pointer;
                    & .fa-solid {
                        display: none;
                    }
                    & .fa-regular {
                        display: inline-block;
                    }
                }
                &:checked ~ .fav-label {
                    cursor: pointer;
                    & .fa-solid {
                        display: inline-block;
                    }
                    & .fa-regular {
                        display: none;
                    }
                }
            }
              
            .fa-heart {
                &.fa-solid {
                    background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
                    -webkit-background-clip: text;
                    background-clip: text;
                    color: transparent;
                }
            }
        }
    }

    #btn {
        @extend %flex-column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: 40px;
        button{
            width: 186px;
            margin: 0;
        }
    }

    .cards-restau {
        margin-top: 20px;
        h2 {
            font-size: 16px;
            font-weight: 300;
            border-bottom: 3px solid #99e2d0;
            width: 40px;
            text-transform: uppercase;
            animation: fadeIn_h2 #{$animDuration} ease-in-out;
        }
        .card-restau {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $white;
            margin: 15px 0px;
            box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001a;
            border-radius: 15px;
            animation: fadeIn_card-restau #{$animDuration} ease-in-out;
            h3 {
                font-size: 18px;
                font-weight: 500;
                margin-bottom: 5px;
            }
            .card-content {
                margin: 10px 0px 10px 10px;
                h4 {
                    font-size: 15.04px;
                    font-weight: 300;
                }
            }
            .card-price{
                margin-top: 25px;
                span {
                    font-size: 15.04px;
                    font-weight: 700;
                    padding: 0px 10px 0px 0px;
                }
            }
            .card-anim{
                // background-color: #99e2d0;
                // color: $white;
                // font-size: 20px;
                // padding: 23px 20px;
                // border-radius: 0 15px 15px 0;
                display: none;
            }

            // .card-price, .card-anim {
            //     transform: translateX(59px);
            //     transition: transform 175ms linear;
            // }
        }

        h2, .card-restau {
            animation-fill-mode: both;
            animation-delay: calc((var(--anim-order) - 1) * $intervalBetween2AnimationStarting);
        }
    }
}